@font-face {
    font-family: 'Pluto Sans Regular';
    src: local('PlutoSansRegular'), local('PlutoSansRegular'), url('font/PlutoSansRegular.otf');
}

@font-face {
    font-family: 'Pluto Sans Cond Light';
    src: local('PlutoSansCondLight'), local('PlutoSansCondLight'), url('font/PlutoSansCondLight.otf');
}

@font-face {
    font-family: 'Pluto Sans Cond Heavy';
    src: local('font/PlutoSansCondHeavy.otf'), local('font/PlutoSansCondHeavy.otf'), url('font/PlutoSansCondHeavy.otf');
}

@font-face {
    font-family: 'Pluto Sans Cond Medium';
    src: local('font/PlutoSansCondMedium.otf'), local('font/PlutoSansCondMedium.otf'), url('font/PlutoSansCondMedium.otf');
}

@font-face {
    font-family: 'Pluto Sans Cond Bold';
    src: local('font/PlutoSansCondBold.otf'), local('font/PlutoSansCondBold.otf'), url('font/PlutoSansCondBold.otf');
}

* {
    margin:0;
}

.section > article {
  text-align: left;
}

button {
    padding: 15px 59px 15px 59px;
    background-color: rgba(0, 0, 0, 1);
    border: 5px solid rgba(0, 0, 0, 1);
    border-radius: 35px;
    box-shadow: 3px 8px 20px 0px rgba(53, 53, 53, 0.5);
    color: white;
    margin-top: 2em;
    font-size: 20px;
    letter-spacing: 0.03em;
    font-family: 'Pluto Sans Cond Medium';
    position: absolute;
    right: 120px;
}

.section > article > button {
  text-align: left;
  right:initial;
}


h1 {
  font-family: 'Pluto Sans Cond Medium'; 
  font-size: 60px;
  text-align: left;
  letter-spacing: -0.07em;
}

h2 {
  font-family: 'Pluto Sans Cond Medium'; 
  font-size: 40px;
  text-align: left;
  letter-spacing: -0.07em;
}

p {
  font-family: 'Pluto Sans Cond Light';
  font-size: 20px;
  letter-spacing: -0.04em;
}

a {
  font-family: 'Pluto Sans Cond Heavy';
}


form > p {
  font-family: 'Pluto Sans Cond Light';
  font-size:40px;
  letter-spacing: -0.03em;
  line-height: 92px;
}

#form-introduce {
  margin-left: 10em;
}

input[type=text] {
  border: none;
  background-color: transparent;
  font-family: 'Pluto Sans Cond Medium';
  border-bottom: 5px solid black;
  font-size: 30px;
}

.inputSmall {
  max-width: 10%;
}

.inputMedium {
  max-width: 28%;
}

.inputlarge {
  max-width: 40%;
}


select {
  background-color: transparent;
  border: none;
  border-radius: 0;
  border-bottom: 4px solid black;
  font-size: 40px;
  font-family: 'Pluto Sans Cond Medium'
}


#section0, #section2 {
  background-image: linear-gradient(to bottom right,rgba(255, 184, 43, 1), rgba(255, 22, 174, 1));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  text-align: left;
}

#section1, #section3 {
  background-image: linear-gradient(to bottom left,rgba(255, 22, 174, 1), rgba(255, 184, 43, 1));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#section0 {
  background-image: url(imgs/introachtergrond.svg), linear-gradient(to bottom right,rgba(255, 184, 43, 1), rgba(255, 22, 174, 1));
}


#section0 > article > h1 {
  line-height: 64px;
}

#section0 > article > h2 {
  font-size: 30px;
  font-family: 'Pluto Sans Cond Bold';
  margin-bottom: 0.3em;
}

#section0 > article > p {
  width: 493px;
  font-family: 'Pluto Sans Cond Medium';
  margin-top: 1em;
}

#section0 > article > button {
  margin-top: 2em;
}



  /*ontbijt*/


#section0-ontbijt {
  background-image: linear-gradient(to bottom right,rgba(255, 184, 43, 1), rgba(255, 22, 174, 1));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

#section1-ontbijt, #section3-ontbijt {
  background-image: linear-gradient(to top left,rgba(255, 22, 174, 1), rgba(255, 184, 43, 1));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
}

 .showResult > img {
      padding-top: 80px;
    padding-left: 80px;
    width: 86%;
}

.showResult > h2 {
    margin-top: 1em;
    padding-left: 3.5em;
    font-size: 40px;
}

.showResult > ul {
  list-style: none;
  margin-left: 2em;
}

.showResult > ul > li {
  padding-bottom: 2em; 
}

.showResult > ul > li > h2 {
  font-family: 'Pluto Sans Cond Medium';
  font-size: 40px;
  margin-left: 1.9em; 
}

.showResult > p {
    font-family: 'Pluto Sans Cond Medium';
    padding-bottom: 2em;
    padding-left: 7em;
    font-size: 20px;
}

.explain-box > button {
  margin-top: 3%;
  right: 120px !important;

}

#section2-ontbijt {
  background-image: url('imgs/group_2.svg'), linear-gradient(to bottom right,rgba(81, 245, 118, 1), rgba(14, 255, 213, 1));
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.explain-why{
  top: 0px;
  left: 830px;
  height: auto;
  width: 540px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 3px 8px 30px 0px rgba(0, 0, 0, 0.5);
}


.explanation {
  font-family: 'Pluto Sans Cond Medium';
  text-align: left;
  padding-left: 3em;
  max-width: 23em;
  padding-bottom: 1.5em;
  line-height: 32px;
  letter-spacing: -0.03em;
}

.title-rate {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 3.5em;
}

.title-rate > h1 {
  font-size: 40px;
}

.linkTainer {
  text-align: center;
  padding-bottom: 4em;
}

a {
  color: black;
  margin-bottom: 40px;
}

#linkTainer > a:visited {

}

#linkTainer > a:active {

}

.rating {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 1em;
  max-width: 10em;
}

#circle {
  margin-left: 10px;
  margin-top: 0.2em;
  width: 25px;
  height: 25px;
  background: black;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
}

#circle-green {
  margin-left: 10px;
  margin-top: 0.2em;
  width: 25px;
  height: 25px;
  background: rgba(16, 255, 112, 1);
  border-outline: 1px solid black;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
}

#circle-orange {
  margin-left: 10px;
  margin-top: 0.2em;
  width: 25px;
  height: 25px;
  background: rgba(255, 200, 55, 1);
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
}

#circle-red {
  margin-left: 10px;
  margin-top: 0.2em;
  width: 25px;
  height: 25px;
  background: rgba(255, 14, 79, 1);
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
}


/*Middag*/

#section2-Middag {
  background-image: url('imgs/group_2.svg'), linear-gradient(to bottom right,rgba(255, 128, 8, 1), rgba(255, 200, 55, 1));
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#section2-Avond {
  background-image: url('imgs/group_2.svg'), linear-gradient(to bottom right,rgba(245, 81, 95, 1), rgba(255, 14, 79, 1));
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


/*eindpagina*/

.section > section {
  margin-bottom: 4em; 
}

.section > section > h2 {
  font-family: 'Pluto Sans Cond Medium';
  margin-left: 2em;
  letter-spacing: -0.03em;
}

.end-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 3em;
}

.end-title > img {
  width: 50%;
}

.section > section > article {
  display: flex;
  flex-direction: row;
}

.section > section > article > ul {
  list-style: none;
  margin-left: 2.6em;
}

.section > section > article > ul > li {
  margin-right: 6em;
}

.section > section > article > ul > li > h2 {
  letter-spacing: -0.03em;
}

.section > section > article > ul > li > p {
  font-family: 'Pluto Sans Cond Medium';
  margin-bottom: 4em;
}

.section > section > aside {
  display: flex;
  flex-direction: row;
}

.section > section > aside > a > button:nth-child(1) {
  right: 120px;
  margin: 0;
  position: left;
}

.section > section > aside > button:nth-child(2) {
  left: 120px;
  right: 0;
  margin: 0;
  border-outline: 4px solid black;
  background-color: transparent;
  color:black;
}

.section > section > ul {
  list-style: none;
}

.section > section > ul > li:nth-child(1) > h1 {
  letter-spacing: -0.04em;
}

.section > section > ul > li:nth-child(2) > h2 {
  margin-bottom: 0.5em;
  letter-spacing: -0.07em;
}

.section > section > ul > li:nth-child(5) {
  margin-bottom: 3em;
}

.section > section > ul > li:nth-child(6) {
  font-family: 'Pluto Sans Cond Medium'
}